@using Ajansim.Entities
@model Media

@{
    ViewBag.Title = "Yeni Medya Yükle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Medya Yükle</h2>

<form class="upload-with-progress" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Medya Türü</label>
        <select name="mediaType" class="form-select">
            <option value="0">Görsel</option>
            <option value="1">Video</option>
            <option value="2">Dosya</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Dosya Seç (Birden fazla seçebilirsin)</label>
        <input type="file" name="files" multiple class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Yükle</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
