
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kategori Oluştur</h2>

<form class="upload-with-progress" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label">Kategori Adı</label>
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>